@layer main {

   .example nav {
        padding: calc(var(--sp-px) * 16) 0;

        & li {

            padding-left: calc(var(--sp-px) * 16);
            padding-top: calc(var(--sp-px) * 8);
            
        }

        & button {
            --button-background: transparent;
            --button-border-color: transparent;
            --button-padding: calc(var(--sp-px) * 4);
            --button-color: var(--gray-12);
        }
        & a[href]{
           padding: calc(var(--sp-px) * 4);
            --component-link-color: var(--gray-12);
            text-decoration: none;
            border-width: var(--default-border-width);
            border-color: transparent;
            position: relative;
            top: calc(var(--sp-px) * 4);
            
        }
    }
    .example.complex {
        border-width: var(--component-border-width);
        border-style: solid;
        border-color: var(--component-border-color);
        margin-top: calc(var(--sp-px) * 16);
        padding: calc(var(--sp-px) * 16);
    }

    .example.simple {
        border-width: var(--component-border-width);
        border-style: solid;
        border-color: var(--component-border-color);
       margin-top: calc(var(--sp-px) * 16);
        padding: calc(var(--sp-px) * 16);
        & li {
            border-bottom: var(--component-border-width) solid var(--purple-3);
        }

    }
}