@layer main {

    nav {
        padding: calc(var(--sp-px) * 16) 0;

        & li {

            padding-left: calc(var(--sp-px) * 16);

            &:first-child {
                padding-top: calc(var(--sp-px) * 8);
            }

            &:has(button) {
                padding-top: calc(var(--sp-px) * 8);
            }
        }

        & button {
            --button-background: transparent;
            --button-border-color: transparent;
            --button-padding: calc(var(--sp-px) * 4);
            --button-color: var(--gray-12);
        }
    }
}