@import url("../theme-system/index.css");
@import url("../ui/ui.css");
@import url("../folio/folio.css");

@layer default-theme {
    body header, body footer  body main{
        margin-bottom: calc(var(--sp-px) * 16);
    }
}