@layer default-theme {
    :root {
        --default-ease: 50ms;
        --default-border-radius: calc(var(--sp-px) * 3);
        --default-border-width: calc(var(--sp-px) * 1);
        --default-divider-style: solid;
        --default-text-size: calc(var(--sp-px) * 16);
        --const-wide-margin-offset: calc((100vw - (1281px - var(--sizing-base))) / 2);

        --default-box-shadow:  calc(var(--sp-px) * 2) 0 calc(var(--sp-px) * 8)calc(var(--sp-px) * 4) var(--gray-shadow);

        --focus-outline-color: var(--default-border-color)   ;
        --focus-outline-offset: calc(var(--sp-px) * 4);
        --focus-outline-border-radius: calc(var(--sp-px) * 2);
        --focus-outline: calc(var(--sp-px) * 2) solid;
    }

    body {
        box-sizing: border-box;
        margin: 0;
        max-width: 1280px;
        padding: calc(var(--sp-px) * 8) calc(var(--sp-px) * 32);

        font-family:  system-ui, sans-serif;
        line-height: 1.5;

        border-radius: var(--default-border-radius);
        border-style: solid;
        border-width: 0;

        background-color: var(--default-background);
        border-color: transparent;
        color: var( --default-text-color);
        & main {
            position: relative;
        }
    }

    @media screen and (min-width: 1281px) {

        body {
            margin-left: var(--const-wide-margin-offset);
            margin-right: var(--const-wide-margin-offset);
        }

    }

}

