@import url('base/layers.css');
@import url('base/reset/sanitize.css');
@import url('base/reset/sanitize-ui.css');
@import url('base/base.css');
@import url('base/typography.css');
@import url('base/colors.css');

@import url("themes/default/index.css");


.srOnly {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
}