@layer main {
    .mobile-navigation {
        &:has(button[aria-expanded='true']) {
            --active-background: var(--purple-3);
            --inactive-background: var(--purple-1);
            --component-link-background-hovered: var(--active-background);
            --component-link-background-focused: var(--active-background);
        }
    }

    nav {
        min-height: 75%;
        & > ul {

            border: var(--default-border-width) solid var(--default-border-color);
            border-bottom-right-radius: var(--default-border-radius);
            border-top-right-radius: var(--default-border-radius);
            box-shadow: var(--default-box-shadow);
            left: 0;
            padding: calc(var(--sp-px) * 16);
            position: absolute;
             min-height: 100%;

            z-index: 3;
        }

        & ul {
            background-color: var(--inactive-background);

            & button {
                --button-background: var(--button-ghost-background);
                --button-border-color: var(--button-ghost-border);
                --button-color: var(--button-ghost-color);
            }

            & button, & a {
                display: inline-block;
                border-radius: 0;
                height: 100%;
                padding: calc(var(--sp-px) * 8) calc(var(--sp-px) * 16);
                text-align: left;
                width: 100%;

                &:focus-visible, &:hover {
                    --button-background: var(--active-background);
                }
            }

            & li button {
                border-bottom: var(--purple-3);
                border-width: calc(var(--sp-px) * 2);
                border-style: solid;
            }
        }
    }

    @media screen and
    (max-width: 768px) {
       nav > ul {
           width: 75%;
       }
    }
    @media screen and (min-width: 769px) {
        nav > ul {
            width: 40%;
        }
    }

}